@import url("https://fonts.googleapis.com/css?family=Athiti|Open+Sans|Prata");
::-moz-selection {
  background: #ff2c6b;
  color: #ffffff; }
::selection {
  background: #ff2c6b;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Prata', serif;
  margin: 0;
  font-size: 0.9em;
  font-weight: 600; }

h3 {
  font-size: 1em;
  font-weight: 600;
  color: #000000;
  margin: 0;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.hide {
  display: none; }

.mediumBtn {
  border: 0.2em solid #ffffff;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
  padding: 0.3em 2em 0.5em 2em;
  margin: 0.5em;
  color: #6d6d6d;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.85em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0.355em; }
  .mediumBtn:hover {
    color: #4D4D4D;
    -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.15); }

.profilePicTiny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 2.8em;
  min-height: 2.8em;
  border-radius: 3em;
  background: #fff; }
  .profilePicTiny .innerWrap {
    width: 2.2em;
    height: 2.2em; }
    .profilePicTiny .innerWrap img {
      width: 2.2em;
      height: 2.2em;
      border-radius: 6em;
      -o-object-fit: cover;
      object-fit: cover; }

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  margin: 0.2em 0;
  color: #000000; }

a {
  text-decoration: none; }

/* The animation code */
@-webkit-keyframes upAndDownLite {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  40% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  60% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  100% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); } }
@keyframes upAndDownLite {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  40% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  60% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  100% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); } }

@-webkit-keyframes upAndDownHard {
  0% {
    -webkit-transform: scaleY(0.9);
    transform: scaleY(0.9);
    -webkit-transform-origin: "0% 0%";
    transform-origin: "0% 0%";
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform-origin: "0% 0%";
    transform-origin: "0% 0%";
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes upAndDownHard {
  0% {
    -webkit-transform: scaleY(0.9);
    transform: scaleY(0.9);
    -webkit-transform-origin: "0% 0%";
    transform-origin: "0% 0%";
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform-origin: "0% 0%";
    transform-origin: "0% 0%";
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes scaleYHighAndLow {
  0% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95); }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  100% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95); } }

@keyframes scaleYHighAndLow {
  0% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95); }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  100% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95); } }

@-webkit-keyframes rotateLeftAndRight {
  0% {
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg); }
  50% {
    -webkit-transform: rotateZ(7deg);
    transform: rotateZ(7deg); }
  100% {
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg); } }

@keyframes rotateLeftAndRight {
  0% {
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg); }
  50% {
    -webkit-transform: rotateZ(7deg);
    transform: rotateZ(7deg); }
  100% {
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg); } }

@-webkit-keyframes flash {
  0% {
    background: #ffffff; }
  50% {
    background: #ff2c6b; }
  100% {
    background: #ffffff; } }

@keyframes flash {
  0% {
    background: #ffffff; }
  50% {
    background: #ff2c6b; }
  100% {
    background: #ffffff; } }

@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    background-position: 0% 50%; }
  25% {
    -webkit-transform: translateX(200%) scaleX(0.2);
    transform: translateX(200%) scaleX(0.2); }
  50% {
    -webkit-transform: translateX(410%) scaleX(1);
    transform: translateX(410%) scaleX(1);
    background-position: 100% 50%; }
  75% {
    -webkit-transform: translateX(200%) scaleX(0.2);
    transform: translateX(200%) scaleX(0.2); }
  100% {
    -webkit-transform: translateX(0%) scaleX(1);
    transform: translateX(0%) scaleX(1);
    background-position: 0% 50%; } }

@keyframes leftRight {
  0% {
    -webkit-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    background-position: 0% 50%; }
  25% {
    -webkit-transform: translateX(200%) scaleX(0.2);
    transform: translateX(200%) scaleX(0.2); }
  50% {
    -webkit-transform: translateX(410%) scaleX(1);
    transform: translateX(410%) scaleX(1);
    background-position: 100% 50%; }
  75% {
    -webkit-transform: translateX(200%) scaleX(0.2);
    transform: translateX(200%) scaleX(0.2); }
  100% {
    -webkit-transform: translateX(0%) scaleX(1);
    transform: translateX(0%) scaleX(1);
    background-position: 0% 50%; } }

/* The element to apply the animation to */
#shakeHands {
  -webkit-animation: upAndDown 1.5s infinite;
  animation: upAndDown 1.5s infinite; }

#botBgd {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: scaleYHighAndLow 2s infinite;
  animation: scaleYHighAndLow 2s infinite; }

#tree {
  -webkit-transform-origin: 70% 100%;
  -ms-transform-origin: 70% 100%;
  transform-origin: 70% 100%;
  -webkit-animation: rotateLeftAndRight 1.5s infinite;
  animation: rotateLeftAndRight 1.5s infinite; }

#loadTree {
  -webkit-transform-origin: 72% 100%;
  -ms-transform-origin: 72% 100%;
  transform-origin: 72% 100%;
  -webkit-animation: rotateLeftAndRight 1.5s infinite;
  animation: rotateLeftAndRight 1.5s infinite; }

body {
  margin: 0; }

a {
  color: #6d6d6d; }

::-webkit-scrollbar-track {
  height: 0.5em;
  background-color: #e4e4e4; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.6em;
  background-color: #e4e4e4; }

::-webkit-scrollbar-thumb {
  height: 0.5em;
  background-color: #a5a5a5; }

#BGD_TOOLs {
  background: #ffffff;
  border-radius: 2em;
  border: 0.08em solid #000000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  height: 2.1em;
  width: 2.1em; }

#cross-lines {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  stroke: #000000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  background: #F2F2F2;
  height: 98vh; }
  .blog-wrapper textarea {
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    font-weight: 300;
    outline: none;
    resize: none; }
  .blog-wrapper .blog-gray-bgd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    background: #F2F2F2; }
    .blog-wrapper .blog-gray-bgd .blog-main-paper {
      width: 80%;
      background: #ffffff;
      min-height: 80vh;
      margin-top: 2em;
      padding: 3em; }
      .blog-wrapper .blog-gray-bgd .blog-main-paper .title-input {
        font-size: 2em;
        width: 100%;
        font-weight: 300;
        font-family: "Prata", serif; }
      .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        outline: none; }
        .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          outline: none; }
          .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap {
            width: 0em;
            height: 0em; }
            .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              position: relative; }
              .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap {
                position: absolute;
                top: -1.5em;
                left: -4.5em; }
                .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex {
                  width: 3em;
                  height: 3em;
                  border-radius: 2em;
                  position: relative;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: horizontal;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-transition: 0.3s;
                  -o-transition: 0.3s;
                  transition: 0.3s;
                  cursor: pointer; }
                  .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex .tool-tab-box-container {
                    display: none;
                    position: relative;
                    z-index: 1; }
                    .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex .tool-tab-box-container .tool-tab-inner-container {
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-box-orient: horizontal;
                      -webkit-box-direction: normal;
                      -ms-flex-direction: row;
                      flex-direction: row;
                      -webkit-box-pack: center;
                      -ms-flex-pack: center;
                      justify-content: center;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                      align-items: center;
                      position: absolute;
                      width: 18em;
                      right: -17em;
                      top: -1.2em; }
                      .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex .tool-tab-box-container .tool-tab-inner-container .tools-outer-container {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -ms-flex-pack: distribute;
                        justify-content: space-around;
                        align-items: center;
                        width: 75%;
                        padding: 0.25em;
                        -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
                        box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
                        border-radius: 1.5em;
                        cursor: pointer;
                        background: #ffffff; }
                        .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex .tool-tab-box-container .tool-tab-inner-container .tools-outer-container .edit-tool-container {
                          display: -webkit-box;
                          display: -ms-flexbox;
                          display: flex;
                          -webkit-box-orient: horizontal;
                          -webkit-box-direction: normal;
                          -ms-flex-direction: row;
                          flex-direction: row;
                          -webkit-box-pack: center;
                          -ms-flex-pack: center;
                          justify-content: center;
                          -webkit-box-align: center;
                          -ms-flex-align: center;
                          align-items: center;
                          width: 1.5em;
                          height: 1.5em;
                          padding: 0.25em;
                          border-radius: 0.3em; }
                          .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex .tool-tab-box-container .tool-tab-inner-container .tools-outer-container .edit-tool-container:hover {
                            background: #F2F2F2; }
                  .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex:hover #BGD_TOOLs {
                    border-color: #ffffff;
                    -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
                    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1); }
                    .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex:hover #BGD_TOOLs #cross-lines {
                      -webkit-transform: rotateZ(360deg);
                      -ms-transform: rotate(360deg);
                      transform: rotateZ(360deg); }
                  .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .tools-holster-wrap .dummy-wrap-tools-button .tools-wrap .tools-flex:hover .tool-tab-box-container {
                    display: block; }
          .blog-wrapper .blog-gray-bgd .blog-main-paper .simple-text .tools-and-input .new-p {
            width: 100%;
            outline: none;
            max-width: 100%;
            margin-top: 0.5em;
            font-size: 1.2em;
            padding-bottom: 0.5em;
            font-weight: 300;
            color: #000000;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
      .blog-wrapper .blog-gray-bgd .blog-main-paper .spaces-for-chillin {
        width: 10em;
        height: 30em; }

#theCanvas {
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1); }

.spacer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 2em 0; }
  .spacer-wrap .individual-spacer {
    margin: 0.5em 1em;
    min-height: 0.2em;
    width: 1.5em;
    border-radius: 0.2em;
    background: #6d6d6d; }
