@import url("https://fonts.googleapis.com/css?family=Athiti|Open+Sans|Prata");
::-moz-selection {
  background: #ff2c6b;
  color: #ffffff; }
::selection {
  background: #ff2c6b;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Prata', serif;
  margin: 0;
  font-size: 0.9em;
  font-weight: 600; }

h3 {
  font-size: 1em;
  font-weight: 600;
  color: #000000;
  margin: 0;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.hide {
  display: none; }

.mediumBtn {
  border: 0.2em solid #ffffff;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
  padding: 0.3em 2em 0.5em 2em;
  margin: 0.5em;
  color: #6d6d6d;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.85em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0.355em; }
  .mediumBtn:hover {
    color: #4D4D4D;
    -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.15); }

.profilePicTiny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 2.8em;
  min-height: 2.8em;
  border-radius: 3em;
  background: #fff; }
  .profilePicTiny .innerWrap {
    width: 2.2em;
    height: 2.2em; }
    .profilePicTiny .innerWrap img {
      width: 2.2em;
      height: 2.2em;
      border-radius: 6em;
      -o-object-fit: cover;
      object-fit: cover; }

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  margin: 0.2em 0;
  color: #000000; }

a {
  text-decoration: none; }

/* The animation code */
@-webkit-keyframes upAndDownLite {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  40% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  60% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  100% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); } }
@keyframes upAndDownLite {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  40% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  60% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  100% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); } }

@-webkit-keyframes upAndDownHard {
  0% {
    -webkit-transform: scaleY(0.9);
    transform: scaleY(0.9);
    -webkit-transform-origin: "0% 0%";
    transform-origin: "0% 0%";
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform-origin: "0% 0%";
    transform-origin: "0% 0%";
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes upAndDownHard {
  0% {
    -webkit-transform: scaleY(0.9);
    transform: scaleY(0.9);
    -webkit-transform-origin: "0% 0%";
    transform-origin: "0% 0%";
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    -webkit-transform-origin: "0% 0%";
    transform-origin: "0% 0%";
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes scaleYHighAndLow {
  0% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95); }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  100% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95); } }

@keyframes scaleYHighAndLow {
  0% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95); }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  100% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95); } }

@-webkit-keyframes rotateLeftAndRight {
  0% {
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg); }
  50% {
    -webkit-transform: rotateZ(7deg);
    transform: rotateZ(7deg); }
  100% {
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg); } }

@keyframes rotateLeftAndRight {
  0% {
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg); }
  50% {
    -webkit-transform: rotateZ(7deg);
    transform: rotateZ(7deg); }
  100% {
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg); } }

@-webkit-keyframes flash {
  0% {
    background: #ffffff; }
  50% {
    background: #ff2c6b; }
  100% {
    background: #ffffff; } }

@keyframes flash {
  0% {
    background: #ffffff; }
  50% {
    background: #ff2c6b; }
  100% {
    background: #ffffff; } }

@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    background-position: 0% 50%; }
  25% {
    -webkit-transform: translateX(200%) scaleX(0.2);
    transform: translateX(200%) scaleX(0.2); }
  50% {
    -webkit-transform: translateX(410%) scaleX(1);
    transform: translateX(410%) scaleX(1);
    background-position: 100% 50%; }
  75% {
    -webkit-transform: translateX(200%) scaleX(0.2);
    transform: translateX(200%) scaleX(0.2); }
  100% {
    -webkit-transform: translateX(0%) scaleX(1);
    transform: translateX(0%) scaleX(1);
    background-position: 0% 50%; } }

@keyframes leftRight {
  0% {
    -webkit-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    background-position: 0% 50%; }
  25% {
    -webkit-transform: translateX(200%) scaleX(0.2);
    transform: translateX(200%) scaleX(0.2); }
  50% {
    -webkit-transform: translateX(410%) scaleX(1);
    transform: translateX(410%) scaleX(1);
    background-position: 100% 50%; }
  75% {
    -webkit-transform: translateX(200%) scaleX(0.2);
    transform: translateX(200%) scaleX(0.2); }
  100% {
    -webkit-transform: translateX(0%) scaleX(1);
    transform: translateX(0%) scaleX(1);
    background-position: 0% 50%; } }

/* The element to apply the animation to */
#shakeHands {
  -webkit-animation: upAndDown 1.5s infinite;
  animation: upAndDown 1.5s infinite; }

#botBgd {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: scaleYHighAndLow 2s infinite;
  animation: scaleYHighAndLow 2s infinite; }

#tree {
  -webkit-transform-origin: 70% 100%;
  -ms-transform-origin: 70% 100%;
  transform-origin: 70% 100%;
  -webkit-animation: rotateLeftAndRight 1.5s infinite;
  animation: rotateLeftAndRight 1.5s infinite; }

#loadTree {
  -webkit-transform-origin: 72% 100%;
  -ms-transform-origin: 72% 100%;
  transform-origin: 72% 100%;
  -webkit-animation: rotateLeftAndRight 1.5s infinite;
  animation: rotateLeftAndRight 1.5s infinite; }

body {
  margin: 0; }

a {
  color: #6d6d6d; }

.block {
  width: 100%;
  opacity: 1;
  min-height: 2em;
  max-height: 2em; }
  .block p {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    background: #00b0d8;
    color: #ffffff;
    padding: 0.5em 0; }

.hideText {
  opacity: 0;
  min-height: 2em;
  max-height: 2em; }

.image-view-outer-layer {
  position: fixed;
  top: 9.5%;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.89); }
  .image-view-outer-layer .image-view-inner-layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 75%;
      padding: 0.5em; }
      .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container {
        position: relative;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F2F2F2));
        background-image: -webkit-linear-gradient(#ffffff, #F2F2F2);
        background-image: -o-linear-gradient(#ffffff, #F2F2F2);
        background-image: linear-gradient(#ffffff, #F2F2F2);
        padding: 1em;
        max-height: 70vh; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container figure {
          width: 600px;
          height: 400px;
          margin: 0.8em 0 0 0;
          background-repeat: no-repeat; }
          .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container figure:hover img {
            opacity: 0; }
          .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container figure img {
            max-width: 100%;
            max-height: 100%; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container .img-button-container {
          position: absolute;
          top: 5px;
          right: -45%;
          border-radius: 50%;
          padding: 0.4em 1em;
          border-radius: 50%;
          margin-left: 0.8em;
          background: transparent;
          cursor: pointer; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container .sliderContainerForModal {
          position: absolute;
          top: 22%;
          z-index: 3;
          left: 32%;
          width: 75%;
          margin: 0 auto; }

@media screen and (max-width: 600px) {
  .image-view-outer-layer {
    top: 16%; }
    .image-view-outer-layer .image-view-inner-layer {
      margin-top: 3em; }
      .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container {
        max-height: 53vh; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container figure {
          width: 373px;
          height: 300px;
          background-repeat: no-repeat; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container .img-button-container {
          top: -12%;
          right: 0%;
          border: none; } }

@media screen and (max-width: 375px) {
  .image-view-outer-layer {
    top: 18%; }
    .image-view-outer-layer .image-view-inner-layer {
      margin-top: 3em; }
      .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container {
        max-height: 49vh;
        padding: 0.5em 0; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container .block p {
          font-size: 0.85em; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container figure {
          width: 338px;
          height: 256px;
          background-repeat: no-repeat; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container .img-button-container {
          top: -16%;
          right: 5%;
          border: none; } }

@media screen and (max-width: 360px) {
  .image-view-outer-layer {
    top: 18%; }
    .image-view-outer-layer .image-view-inner-layer {
      margin-top: 3em; }
      .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container {
        height: 49vh;
        padding: 0.5em 0; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container .block p {
          font-size: 0.85em; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container figure {
          width: 338px;
          height: 256px;
          background-repeat: no-repeat; }
        .image-view-outer-layer .image-view-inner-layer .image-view-inner-layer-2 .image-view-Container .img-button-container {
          top: -16%;
          right: 5%;
          border: none; } }
