// variables

$white: #ffffff;
$cream: #f7f7f7;

$transparentWhite: #ffffffc2;

// $bgdColor: #ebf1f2;
$bgdColor: #e0e0e0;
$black : #000000;

$secondaryBlue: #94E8FF;
$highLightBlue: #ff2c6b;


$secondaryMagenta: rgb(0, 176, 216);

$primaryGreen: rgb(130, 199, 39);
$strongDarkGreen: #00A99D;
$darkGreen: #22B573;

$red : #ff0000;
$primaryMagenta: #D4145A;
$lightMagenta: #eeaaff;


$darkGrey: #6d6d6d;
$darkerGrey:  #212529;
$modalGrey: unquote('#ffffff88');

$darkestGrey : #4D4D4D;

// $target-px:
// $context:;

$semiDarkGrey: #9c9c9c;
$mediumGrey: #a5a5a5;
$lightGrey: #e4e4e4;
$semiLightGrey: #b9b9b9;
$veryLightGrey: #F2F2F2;
$veryVeryLightGrey: #fafafa;

$primaryViolet: #7E00A9;
$lightViolet: #CF94FF;

$primaryBrown: #C69C6D;

$yellow : #FEED01;
$orange : #f7931e;
$green : #8cc63f;
$magenta : #ff2c91;
$curve: linear;

$light_magenta : #A9DAFF;
$light_blue :  #FFBFC6;

// $magenta : #ff2c6b;

$break-small: 320px;
$break-large: 1024px;


// height width calculation variables






